/** 拼图布局 */
.puzzle {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.puzzle div img {
    float: right;
    width: 100%;
    height: 100%;
}

.puzzle-1 > div {
    width: 100%;
    height: 100%;
}

.puzzle-2 > div {
    width: 66.666%;
    height: 100%;
}

.puzzle-2 > div:last-child {
    margin-left: -33.333%;
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPGNsaXBQYXRoIGlkPSJjbGlwIiBjbGlwUGF0aFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCI+CiAgICAgICAgPHBvbHlnb24gcG9pbnRzPSIwLjUgMCwxIDAsMSAxLDAgMSI+CiAgICAgICAgPC9wb2x5Z29uPgogICAgPC9jbGlwUGF0aD4KPC9zdmc+#clip);
}

.puzzle-3 > div {
    height: 100%;
}

.puzzle-3 > div:last-child div {
    height: 50%;
}

.puzzle-4 > div {
    width: 50%;
    height: 100%;
}

.puzzle-4 > div > div {
    width: 100%;
    height: 50%;
}

.puzzle-5 > div, .puzzle-6 > div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: stretch;
    align-items: stretch;
    height: 100%;
}

.puzzle-5 > div:first-child, .puzzle-6 > div:first-child {
    width: 66.666%;
}

.puzzle-5 > div:first-child > div:first-child, .puzzle-6 > div:first-child > div:first-child {
    height: 66.666%;
}

.puzzle-5 > div:first-child > div:last-child, .puzzle-6 > div:first-child > div:last-child {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: stretch;
    align-items: stretch;
    height: 33.333%;
}

.puzzle-5 > div:first-child > div:last-child div, .puzzle-6 > div:first-child > div:last-child div {
    width: 50%;
    height: 100%;
}

.puzzle-5 > div:last-child, .puzzle-6 > div:last-child {
    width: 33.333%;
}

.puzzle-6 > div:last-child div {
    height: 33.333%;
}

/** 瀑布布局 */
.waterfall {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.waterfall > div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.waterfall div div {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.waterfall div img {
    float: right;
    width: 100%;
}

/** 木桶布局 */
.barrel {
}

.barrel > div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 100%;
}

.barrel div div {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.barrel div img {
    float: right;
    height: 100%;
}
